@import './mixin.scss';
html,body {
    font-size: 62.5%;
    @include scrollBar;
}

@media screen and (min-width:1210px){
    .container {
        width: 1210px;
        margin: 0 auto;
        height: 100%;
    }
}
// @media screen and (min-width:1210px){
//     .container {
//         width: 1210px;
//         margin: 0 auto;
//         height: 100%;
//     }
// }