@import './mixin.scss';
html,body {
    font-size: 62.5%;
    @include scrollBar;
}
.container {
    max-width: 1210px;
    margin: 0 auto;
    height: 100%;
    padding: 0 2%;
}
// @media screen and (min-width:1210px){
    
// }
// @media screen and (max-width: 319px){
//     .container {
//         width: 320px;
//         // margin: 0 auto;
//         height: 100%;
//         padding: 0 2%;
//     }
// }
// @media screen and (max-width: 768px){
//     .container {
//         width: auto;
//         // margin: 0 auto;
//         height: 100%;
//         padding: 0 2%;
//     }
// }
// @media screen and (min-width: 768px) and (max-width: 1210px){
//     .container {
//         width: auto;
//         // margin: 0 auto;
//         height: 100%;
//         padding: 0 2%;
//     }
// }
// @media screen and (min-width:1211px){
//     .container {
//         width: 1210px;
//         margin: 0 auto;
//         height: 100%;
//     }
// }